.principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.mid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.first-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #005eff;
  border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
}
.second-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #2fff00;
  border-radius: 60% 30% 50% 30% / 40% 40% 40% 40%;
}
.third-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #ffd000;
  border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
}
.four-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #ff7b00;
  border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
}
.five-container {
  cursor: pointer;
  width: 100px;
  height: 100px;

  background-color: #ff0000;
  border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
}
