
/* MÓDULO LOGIN */

/* Panel izquierdo credenciales */
.left-credentials {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-credentials {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LOGIN GOOGLE */
#customBtn {
  display: flex;
  background: white;
  color: #444;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#customBtn:hover {
  cursor: pointer;
}

#gSignInWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 200px;
}

span.label {
  font-family: serif;
  font-weight: normal;
  margin-right: 4px;
  width: 70%;
}

span.icon {
  background: transparent 5px 50% no-repeat;
  display: flex;
  vertical-align: middle;
}

span.buttonText {
  width: 70%;
  display: flex;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 11px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  opacity: 0.6;
  border-radius: 10px;
  padding: 3px;
}
