@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed:wght@200;400&family=Shadows+Into+Light&display=swap");
:root {
  --white: #e8e8e8e8;
  --blue: #050b9e;
  --red: #d00000;
  --font: "Roboto Condensed";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.container-principal {
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ESTILOS CONTENEDOR MAPA */
.container-map {
  width: 100%;
  height: 100%;
}

.map {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map iframe {
  border: 0;
  border-radius: 10px;
}

.info {
  background: chocolate;
  height: 20vh;
}

/* ESTILOS CONTENEDOR LOGIN */

.container-login {
  width: 40%;
}

.section-login {
  background-color: var(--red);
  height: 50vh;
  position: relative;
  cursor: pointer;
}

.login {
  position: absolute;
  left: 50px;
  bottom: 50px;
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

/* SECCION ABOUT ME */
.section-about {
  position: relative;
  background-color: var(--blue);
  height: 50vh;
  cursor: pointer;
}

.img {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 65%;
  width: 90%;
}

img {
  object-fit:cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: 10px;
}

.about {
  position: absolute;
  left: 50px;
  bottom: 50px;
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}
